<form method="GET" action="<%= admin_users_path %>" class="w-full">
  <input
    type="search"
    name="q[email_or_first_name_or_last_name_cont]" class="input input-bordered rounded-lg w-24 md:w-auto"
    placeholder="Search users"
  />
</form>
