<ul class="menu gap-2">
  <li>
    <details <%= current_controller?(["posts"]) ? "open" : nil %>>
      <summary class="mb-2">Manage Content</summary>
      <ul>
        <li>
          <%= active_link_to 'Posts', admin_posts_path %>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <%= active_link_to 'Users', admin_users_path %>
  </li>
</ul>
