<ul class="admin-menu">
  <li>
    <ul>
      <li>
        <%= link_to 'Posts', admin_posts_path %>
      </li>
      <li>
        <%= link_to 'Users', admin_posts_path %>
      </li>
    </ul>
  </li>
</ul>
