<ul class="menu">
  <li>
    <details <%= current_controller?(["posts"]) ? "open" : nil %>>
      <summary>Manage Content</summary>
      <ul>
        <li>
          <%= active_link_to 'Posts', admin_posts_path %>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <%= link_to 'Users', admin_posts_path %>
  </li>
</ul>
