<ul class="menu bg-base-200 w-56 rounded-box">
  <li>
    <h2 class="menu-title">Conteúdo</h2>
    <ul>
      <li>
        <%= link_to 'Posts', admin_posts_path %>
      </li>
    </ul>
  </li>
</ul>
