<ul class="menu">
  <li>
    <details>
      <summary>Conteúdo</summary>
      <ul>
        <li>
          <%= link_to 'Posts', admin_posts_path %>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <%= link_to 'Users', admin_posts_path %>
  </li>
</ul>
