<% model = Post %>
<div class="mb-4">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="inline-flex items-center gap-6">
      <div class="form-control">
        <%= f.text_field :title_cont, class: "input input-bordered w-full rounded-md max-w-xs", placeholder: model.human_attribute_name(:title) %>
      </div>
      <%= f.submit "Search", class: "btn rounded-md" %>
    </div>
  <% end %>
</div>
